
body{
    font-family: 'Kiwi Maru', serif;
    
/*font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;*/
}


.section-title h1{
    color: red;
}

.title-description p{
    color: #536162;
    padding: 0px 40px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.7;
    
}


/*header starts*/

.navbar{
    background-color: white;
       
}

.navbar-icon{
    color: gray;
}

.icon-style{
    margin: 0 5px;
    padding: 8px 10px;
    background-color: red;
   color: white;
}

.icon-link{
    margin-left: 20px;
}


.nav-link{
    color: black;
    font-weight: bold;
   
}

.nav-link:hover{
    color: black;
    text-decoration: underline rgba(255,182,193,0.5) solid 3px;
}


@media(max-width:992px){
    
    .nav-link{
        color: gray;
        border-bottom: solid 1px #e7e6e1;
        padding: 20px;
    }

    .nav-link:hover{
        color: red;
        text-decoration: none;
    }

    .navbar-nav{
        padding-top: 10px;
    }  
    
    
}/* end of media*/

.bridge-style{
    
    color: red;
}

.bridge-style:hover{
    text-decoration: none;
    color: red;
}

/*carousel start*/

.carousel-indicators .active{
    background-color: red;
}




.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");

}
/*carousel ends*/

/* header ends*/

/* make-difference*/

#make-difference{
    padding: 5% 7%;
}

#make-difference img{
    height: 210px;
    width: 370px;
}

/*end of make-difference*/

/*  red-banner section*/

#red-banner{
    background-color: red;   
}

.red-banner-container h1{
    color: white;
    font-size: 3.0rem;
    line-height: 1.4;
}

.red-banner-container p{
    color: white;
    line-height: 1.4;
}

